
.container{
  display: block;
  flex-direction: column;
}

.container .header{
  width: 100%;
  padding: .7rem ;
  display: flex;
}

.container .header .form{
  width: 30%;
  padding: .3rem;
  border-radius: 2rem;
  background-color: rgba(61, 61, 61, 0.32);
}

.container .header .form button{
  width: 10%;
  border: 0;
  background: transparent;
  color: rgb(228, 228, 228);
  outline: none;
}

.container .header .form button i{
  transform: scale(1.4);
}

.container .header .form .search{
  border: 0;
  width: 88%;
  outline: none;
  background: transparent;
  color: #111111;
}
