
main{
  align-items: center;
}

main .container{
  align-items: center;
}

main .container .example-form{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 800px;
  max-width: 800px;

}

main .container .example-form .title{
  padding: 2rem 1rem;
  margin: 1;
  background: rgba(rgb(58, 56, 56), rgb(87, 112, 87), rgb(53, 53, 194), 4);

  min-width: 400px;
  text-align: center;
}

main .container .example-form .title h2{
  font-weight: bold;
  color: rgb(59, 59, 59);
}
mat-form-field {

  min-width: 500px;
}



@media screen and (max-width: 767px) {

  .btn-menu-01{
    display: none;
  }

  .btn-menu{
    display: block;
  }

  .mat-drawer{
    display: none;
  }
}

@media screen and (max-width: 575px) {
  mat-form-field {

    min-width: 200px;
  }

   .example-form{
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100px;

  }

}
