
  <mat-toolbar color="primary">
      <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>-->
 <span routerLink="/dashboard/" style="cursor: pointer;">Dashboard</span>
 <button mat-button class="btn-menu-sidebar" [class.visited] ="isVisited == true" (click)="checkVisited()">
  <mat-icon>more_vert</mat-icon>
</button>
 <span class="example-spacer"></span>
 <!--   Menu buttons -->

  <app-signout></app-signout>

  <button mat-button *ngIf="!isLogged" class="btn-menu-01" [routerLink]="['/login']">Sign In
  </button>
  <button mat-button *ngIf="!isLogged" class="btn-menu-01" [routerLink]="['/signup']"> Sign Up
  </button>

  <button mat-icon-button class="btn-menu" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="!isLogged" [routerLink]="['/login']">
      <mat-icon>dialpad</mat-icon>
      <span>Sign In</span>
    </button>
    <button mat-menu-item *ngIf="!isLogged" disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Sign Up</span>
    </button>
    <button mat-menu-item *ngIf="!isLogged" [routerLink]="['/signup']">
      <mat-icon>notifications_off</mat-icon>
      <span>Sign Up</span>
    </button>
  </mat-menu>

  <mat-menu #menu="matMenu" *ngIf="isLogged">
    \<!--<button mat-menu-item [routerLink]="['/logout']" >
      <mat-icon>dialpad</mat-icon>
      <span>Logout</span>
    </button>-->
    <app-signout></app-signout>
  </mat-menu>

   </mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidbar" *ngIf="username.isActive">


    <mat-list role="list">
      <mat-list-item role="listitem" style="align-items: center; text-align: center;">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" >
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item role="listitem" style="align-items: center; text-align: center;">
        <a mat-button href="#" disabled style="font-size: .9rem; color: rgb(11, 141, 22);font-weight: bold;text-transform: uppercase;" >
          {{username.username}}
        </a>
        <p style="font-size: .7rem; color: rgb(22, 82, 247); margin-top: -10%;">{{username.role}}</p>
      </mat-list-item>

      <mat-divider></mat-divider>

      <button mat-button [routerLink]="['/']" >
        <mat-icon>account_balance</mat-icon>
        Home
      </button>
      <mat-list-item role="listitem" *ngIf="username.role == 'ROOT' || username.role == 'AMIN'">
        <button mat-button >
          <mat-icon>supervised_user_circle</mat-icon>
          Users</button>
      </mat-list-item>

      <mat-list-item role="listitem" *ngIf="username.role == 'ROOT' || username.role == 'AMIN'">
        <button mat-button [matMenuTriggerFor]="aboveMenu" >
          <mat-icon>account_box</mat-icon>
          Accounts
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="below">
          <button mat-menu-item (click)="accountHome()">List All</button>

        </mat-menu>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button (click)="accountDebitNoParameter()">
          <mat-icon>remove_circle</mat-icon>
          Send money</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button (click)="accountCreditNoParameter()">
          <mat-icon>add_circle</mat-icon>
          Credit</button>
      </mat-list-item>
      <mat-list-item role="listitem" *ngIf="username.role != 'ROOT' && username.role != 'AMIN'">
        <button mat-button [matMenuTriggerFor]="aboveMenu02">
          <mat-icon>monetization_on</mat-icon>
          Moviments
        </button>
        <mat-menu #aboveMenu02="matMenu" yPosition="below" >
          <button mat-menu-item (click)="accountHistoric()">Historic</button>
          <button mat-menu-item>List Debits</button>
          <button mat-menu-item>List Credits</button>
        </mat-menu>
      </mat-list-item>
      <mat-list-item role="listitem" *ngIf="username.role == 'ROOT' || username.role == 'AMIN'">
        <button mat-button (click)="accountHome()">
          <mat-icon>settings</mat-icon>
          Settings
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>



    <router-outlet></router-outlet>

    <!--     to send data to the child component-->


  </mat-drawer-content>
</mat-drawer-container>
