

<mat-card>
  <mat-card-header>
    <mat-card-title>Current balance: </mat-card-title>
    <mat-card-subtitle><span style="font-size: 2rem;color: rgb(37, 167, 123); font-weight: bold;">
      {{ currentBalance }}
    </span></mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions align="end">
    <mat-card-title>Account: <span style="color: rgb(50, 109, 236);">{{ userAccount }}</span> </mat-card-title>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>

</mat-card>
